@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --br-radius: 15px;
  --flow-s: 10px;
  --flow-m: 1rem;
  --flow-l: 1.5rem;
  --padding: 1.5rem;
  --fs-800: 1.5rem;
  --fs-400: 14px;
  --fs-body: 14px;
}

html {
  box-sizing: border-box;
  font-family: "Overpass";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-size: var(--fs-body);
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 8%);
  /*demo only*/
  min-height: 100vh;
  padding: 1.5rem;
  display: grid;
  place-content: center;
}

.rating {
  background: radial-gradient(#232a34, #181e27);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  max-width: 412px;
  border-radius: var(--br-radius);
}
.rating .image {
  background-color: hsl(213, 19%, 18%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.rating__select {
  display: flex;
  justify-content: space-between;
}
.rating__select label {
  font-size: var(--fs-400);
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 1.5rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.rating__select label input {
  display: none;
}
.rating__select label:has(:checked) {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
}
.rating__select label:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(213, 19%, 18%);
}

.rating.result {
  align-items: center;
  display: none;
}
.rating.result .image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: unset;
  height: unset;
}
.rating.result .rating__result {
  background-color: hsl(213, 19%, 18%);
  width: fit-content;
  padding: 5px 12px;
  border-radius: 22.5px;
  color: hsl(25, 97%, 53%);
  margin-top: 1.5rem;
  margin-inline: auto;
}
.rating.result p,
.rating.result h1 {
  text-align: center;
}

.rating.result.active {
  display: block;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: var(--fs-800);
  font-weight: 700;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  border-radius: 22.5px;
  padding: 14px;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 1.87px;
  line-height: 1;
  text-transform: uppercase;
  transition: 0.3s;
}
button:hover {
  background-color: hsl(0, 0%, 100%);
}

p {
  line-height: 1.5rem;
}

/* flow */
h1 {
  margin-top: var(--flow-m);
}

p {
  margin-top: var(--flow-s);
}

.rating__select,
button {
  margin-top: var(--flow-l);
}

@media (min-width: 37.5rem) {
  :root {
    --br-radius: 30px;
    --padding: 2rem;
    --flow-l: 2rem;
    --fs-800: 28px;
    --fs-400: 1rem;
    --fs-body: 15px;
  }
  .rating .image {
    width: 48px;
    height: 48px;
  }
  .rating__select label {
    width: 51px;
    height: 51px;
  }
}

/*# sourceMappingURL=style.css.map */
